<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648689318823-caagcrbvsc9p0hcshrfc2dp9hb4615fg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648689318823-caagcrbvsc9p0hcshrfc2dp9hb4615fg</string>
	<key>API_KEY</key>
	<string>AIzaSyBJRK_KO-3ePy-oZfiHWhZ2SzGaUp0FjFg</string>
	<key>GCM_SENDER_ID</key>
	<string>648689318823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alexsagel.todoeyFlutter</string>
	<key>PROJECT_ID</key>
	<string>kama-e4952</string>
	<key>STORAGE_BUCKET</key>
	<string>kama-e4952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648689318823:ios:8d8e917ae0827139</string>
	<key>DATABASE_URL</key>
	<string>https://kama-e4952.firebaseio.com</string>
</dict>
</plist>